* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

a {
  color: #7e7e7e;
  text-decoration: none;

  &:hover {
    color: #ffb300;
  }
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

.container {
  overflow-x: hidden;
}

input,
button {
  border: none;
  outline: none;
}