.footer {
  padding: 2rem 0;
  position: relative;

  section {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    font-size: 1.5rem;
    padding: 2rem 3rem;
    margin-bottom: 3rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 1.75rem;
    }

    .get-touch {
      grid-column: 1/3;
      line-height: 1.75;

      p {
        color: #7e7e7e;
      }

      .mobNum {
        color: #000;
        font-size: 3.2rem;
        font-weight: 700;
        transition: all .25s linear;
        cursor: pointer;

        &:hover {
          color: #ffb300;
        }
      }

      .social {
        font-size: 2.5rem;
        display: flex;
        gap: 1.75rem;

        a {
          color: #000;
          transition: all .25s linear;

          &:hover {
            color: #ffb300;
          }
        }

      }
    }

    .links {
      li {
        margin-bottom: 1.5rem;

        a {
          transition: all .2s linear;
        }
      }
    }
  }

  article {
    background: #f7f7f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;

    p {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 1.5rem 0 8rem 0 !important;

    section {
      padding: 2rem 3rem;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    section {
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem 6rem;

      .get-touch {
        text-align: center;
        grid-column: 1/-1;
        margin-bottom: 2rem;

        .social {
          justify-content: center;
        }
      }

      .links {
        text-align: center;
      }

      .links:first-child {
        grid-column: 1/2;
      }
    }

    article {
      flex-direction: column;
      gap: 2rem;

      div img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .footer {
    section {
      padding: 1rem 2rem;

      .get-touch {
        text-align: center;
        grid-column: 1/-1;
        margin-bottom: 2rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .footer {
    section {
      margin-bottom: 2rem;

      h2 {
        margin-bottom: 1rem;
      }

      .links {
        li {
          margin-bottom: 1rem;
        }
      }
    }

    article {
      p {
        text-align: center;
        font-size: 1.25rem;
      }
    }
  }
}