.header {
  min-height: 100%;
  position: relative;
}

.topBar {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 1.5rem;

  ul {
    display: flex;
    gap: 1.5rem;

    li {
      a {
        color: #7e7e7e;
        font-size: 1.4rem;

        &:hover {
          color: #ffb300;
          transition: color .25s linear;
        }
      }
    }
  }
}

.desktopBar {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  margin-top: 2rem;

  div:not(.logoBox) {
    font-size: 1.4rem;
  }

  .right {
    display: flex;
    gap: 5rem;

    .logoBox {
      align-self: center;

      img {
        max-width: 30rem;
        width: 100%;
      }
    }

    .helpBox {
      display: flex;
      align-items: center;
      gap: 1rem;

      i {
        color: #ffb300;
        font-size: 2.8rem;
      }

      span {
        color: #7e7e7e;
        font-size: 1.3rem;
        font-weight: 500;
        cursor: pointer;
      }

      .sub {
        color: black;
        font-size: 1.4rem;
        font-weight: 700;
        display: block;
        transition: color .25s linear;

        &:hover {
          color: #ffb300;
        }
      }
    }

    .searchBox {
      width: 100%;
      max-width: 400px;
      height: 4.5rem;
      display: flex;
      position: relative;

      label {
        position: absolute;
        background: transparent;
      }

      input {
        font-size: 1.75rem;
        width: 100%;
        height: 100%;
        border: 2px solid #dcdcdc;
        border-right: none;
        border-top-left-radius: .6rem;
        border-bottom-left-radius: .6rem;
        outline: none;
        padding: 0.8rem 1.5rem;

        &::placeholder {
          font-size: 1.25rem;
        }
      }

      button {
        background: #5e5e5e;
        border-top-right-radius: .6rem;
        border-bottom-right-radius: .6rem;
        border: none;
        outline: none;
        padding: 0.75rem 1.5rem;

        &:hover {
          cursor: pointer;
        }

        i {
          color: #ffb300;
          font-size: 1.5rem;
        }
      }
    }
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    div {
      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #7e7e7e;
      }

      i {
        color: #ffb300;
        font-size: 2.8rem;
      }

      .sub {
        color: black;
        font-weight: 700;
        margin-top: .5rem;
        display: block;
        transition: all .25s linear;

        &:hover {
          color: #ffb300;

        }
      }
    }
  }
}

.scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;

  .static-bar {
    position: relative;

    .searchBox {
      display: flex;

      input {
        width: 250px;
        font-size: 1.75rem;
        border: 2px solid #dcdcdc;
        border-radius: .6rem;
        outline: none;
        padding: 0.8rem 1.5rem;
        position: absolute;
        left: 83%;
        transform: translateX(-83%);
        align-self: center;

        &::placeholder {
          font-size: 1.25rem;
        }
      }
    }
  }

  .desktopBar {
    margin-top: 0rem !important;
  }

  @media (max-width:1400px) {
    .static-bar {
      .searchBox {
        input {
          position: absolute;
          top: 100%;
          left: 83%;
        }
      }
    }
  }
}

#sticky-bar {
  display: none;
  background: #fff;
  animation: slideDown .4s linear both;

  .static-bar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    .logoBox {
      align-self: center;
      max-width: 20rem;

      img {
        width: 100%;
      }
    }

    .nav-links {
      align-self: center;

      .navLink {
        display: flex;
        position: relative;
        gap: 3rem;

        .dropdown {
          font-size: 1.5rem;

          .title {
            font-weight: 700;
            color: #000;
            display: flex;
            transition: all .1s linear;

            &:hover {
              color: #ffb300;
            }

            &:hover .fa-chevron-down {
              transform: rotate(180deg);
            }

            .fa-chevron-down {
              font-size: .9rem;
              margin-left: .75rem;
              align-self: center;
            }
          }

          &:hover .sub-menu {
            display: block;
            transition: all 1s ease-in-out;
          }

          .sub-menu {
            font-size: 1.4rem;
            display: none;
            background: #ffffff;
            min-width: 225px;
            max-width: 1000px;
            position: absolute;
            z-index: 1;
            padding: 2.5rem 1.5rem;

            ul li {
              margin-bottom: 1.5rem;
            }

            .shop-sub {
              height: 65vh;
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-template-rows: repeat(4, 1fr);
              gap: 3rem;
              padding: 2.5rem 2rem;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              background: #ffffff;

              p {
                font-size: 1.6rem;
                font-weight: 500;
                color: #000;
                width: 150px;
                display: inline-block;
                margin-bottom: 1.5rem;
              }

              div:first-child {
                grid-row: 1/-1;
              }
            }
          }
        }
      }
    }

    .icon-container {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      div {
        a {
          display: flex;
          align-items: center;
          color: #000;
          font-size: 2.8rem;
          transition: all .25s linear;
        }

        a:hover {
          color: #ffb300;
        }
      }
    }
  }

  @keyframes slideDown {
    0% {
      transform: translate3d(0, -100%, 0);
    }

    100% {
      transform: translateZ(0);
    }
  }
}

.hidden {
  display: none !important;
}

.mobileBar {
  display: none;

  a {
    font-size: 1.25rem;
    color: #000;
  }

  .container {
    font-size: 1.4rem;
    background: #fff;
    padding: 1rem 2rem;
    position: relative;

    i {
      font-size: 2rem;
    }

    .logoBox {
      img {
        max-width: 12rem;
        width: 100%;
      }
    }

    .icon-bar {
      display: flex;
      gap: 1.75rem;
    }
  }

  .mob-sidebar {
    width: 250px;
    min-height: 100vh;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    padding: 2rem;

    .close-menu {
      width: 35px;
      height: 35px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 4px 10px 0 var(--gray-dark-10, rgba(0, 0, 0, .1));
      margin-bottom: 7rem;
      align-self: flex-end;

      .fa-xmark {
        font-size: 2.25rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .menu {
      width: 100%;
      height: 60%;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;

      .navlinks {
        display: grid;
        gap: 1.5rem;
      }

      .dropdown {
        position: relative;

        a {
          font-size: 1.5rem;
        }

        .fa-chevron-right {
          font-size: 1.25rem;
          color: hsla(10%, 10%, 70%, .9);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
        }
      }

      .divider {
        border: 1px solid hsla(0, 0%, 90%, .5);
      }

      .sub-list {
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translate(100%);

        #title {
          font-size: 2rem;
          margin-bottom: 2rem;

          i {
            font-size: 1.25rem;
          }

          a {
            font-size: 1.5rem;
            color: #ffb300;
            margin-left: 5rem;
          }
        }

        .shop-sub {
          display: grid;
          gap: 1rem;

          div {
            p {
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }

            li {
              margin-bottom: 1.25rem;
            }
          }
        }
      }
    }

    .content {
      width: 200px;
      position: fixed;
      top: 90%;
      border: 1px solid #e7e7e7;
      text-align: center;
      padding: .8rem 1.75rem;
      z-index: 1000;

      &:active {
        color: #fff;
        background: #000;
      }

      a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all .2s ease;

        &:active {
          color: #fff;
        }
      }

    }
  }


  .header-fixed {
    width: 100%;
    font-size: 1.75rem;
    background: #fff;
    padding: 1rem 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 1px 12px 2px hsla(0, 0%, 56%, 0.3);

    &>div {
      flex: 1;
      text-align: center;

      p {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}

@media (max-width:1200px) {
  .desktopBar {
    .left {
      flex: 1;

      div {
        a {
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .topBar {
    display: none;
  }

  .desktopBar {
    display: none;
  }

  .mobileBar {
    display: block;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-fixed {
      display: flex;
      align-items: center;
    }
  }

  #sticky-bar {
    .static-bar {
      display: none !important;
    }

    .mobileBar {
      display: flex !important;
    }
  }
}