.header {
  min-height: 100%;
  position: relative;
}

.topBar {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 1.5rem;

  ul {
    display: flex;
    gap: 1.5rem;

    li {
      a {
        color: #7e7e7e;
        font-size: 1.4rem;

        &:hover {
          color: #ffb300;
          transition: color .25s linear;
        }
      }
    }
  }
}

.desktopBar {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  margin-top: 2rem;

  div:not(.logoBox) {
    font-size: 1.4rem;
  }

  .right {
    display: flex;
    align-items: center;
    flex: 2;
    gap: 5rem;

    .logoBox {
      align-self: center;

      img {
        max-width: 15rem;
      }
    }

    .helpBox {
      display: flex;
      align-items: center;
      gap: 1rem;

      i {
        color: #ffb300;
        font-size: 2.8rem;
      }

      span {
        color: #7e7e7e;
        font-size: 1.3rem;
        font-weight: 500;
        cursor: pointer;
      }

      .sub {
        color: black;
        font-size: 1.4rem;
        font-weight: 700;
        display: block;
        transition: color .25s linear;

        &:hover {
          color: #ffb300;
        }
      }
    }

    .searchBox {
      width: 100%;
      max-width: 500px;

      .search-form {
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid #dcdcdc;
        border-radius: .5rem;
        padding: 1rem 1.5rem;

        .search-icon {
          background: transparent;
          padding: 0 1rem;
          cursor: pointer;

          i {
            color: #ffb300;
            font-size: 1.5rem;
          }
        }

        .input-search {
          width: 100%;
          margin-left: .5rem;

          input {
            font-size: 1.75rem;
            width: 100%;
            height: 100%;

            &::placeholder {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    div {
      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #7e7e7e;
      }

      i {
        color: #ffb300;
        font-size: 2.8rem;
      }

      .sub {
        color: black;
        font-weight: 700;
        margin-top: .5rem;
        display: block;
        transition: all .25s linear;

        &:hover {
          color: #ffb300;

        }
      }
    }
  }
}

.scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;

  .desk-bar {
    position: relative;

    .searchBox {
      display: flex;

      input {
        width: 250px;
        font-size: 1.75rem;
        border: 2px solid #dcdcdc;
        border-radius: .6rem;
        outline: none;
        padding: 0.8rem 1.5rem;
        position: absolute;
        left: 83%;
        transform: translateX(-83%);
        align-self: center;

        &::placeholder {
          font-size: 1.25rem;
        }
      }
    }
  }

  .desktopBar {
    margin-top: 0rem !important;
  }

  @media (max-width:1400px) {
    .static-bar {
      .searchBox {
        input {
          position: absolute;
          top: 100%;
          left: 83%;
        }
      }
    }
  }
}

#sticky-bar {
  display: none;
  background: #fff;
  animation: slideDown .4s linear both;

  .desk-bar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;

    .logoBox {
      align-self: center;
      max-width: 20rem;

      img {
        width: 100%;
      }
    }

    .icon-container {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      div {
        a {
          display: flex;
          align-items: center;
          color: #000;
          font-size: 2.8rem;
          transition: all .25s linear;
          cursor: pointer;
        }

        a:hover {
          color: #ffb300;
        }
      }

      .search-box {
        position: relative;
      }

      .modal {
        font-size: 2.5rem;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        padding: 2rem;

        .row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 5rem;

          .close {
            font-size: 5rem;
            cursor: pointer;
          }
        }

        .modal-content {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 3rem;
          background-color: #fefefe;
          margin: 0 auto;
          padding: 2rem;
          width: 100%;
          text-align: center;

          #search {
            font-size: 2.5rem;
            width: 60%;
            border: none;
            outline: none;
            border-bottom: 2px solid #000;
            padding: 1rem;
            margin-top: 2rem;
          }

          a {
            cursor: pointer;
          }

          input::placeholder {
            font-size: 2rem;
          }
        }
      }

      .show-modal {
        visibility: visible;
        opacity: 1;
        transition: all .5s ease-in-out;
      }
    }
  }

  @keyframes slideDown {
    0% {
      transform: translate3d(0, -100%, 0);
    }

    100% {
      transform: translateZ(0);
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translateZ(0);
  }
}

.hidden {
  transform: translate(0) !important;
}

.mobileBar {
  display: none;

  a {
    font-size: 1.25rem;
    color: #000;
  }

  .nav {
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 99;

    i {
      font-size: 2rem;
    }

    .logoBox {
      img {
        max-width: 12rem;
        width: 100%;
      }
    }

    .icon-bar {
      display: flex;
      gap: 1.75rem;
    }
  }

  .mob-sidebar {
    width: 250px;
    height: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    padding: 2rem;
    transform: translate3d(-100%, 0, 0);
    transition: all .25s ease-in-out;

    .close-menu {
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 4px 10px 0 var(--gray-dark-10, rgba(0, 0, 0, .1));
      margin-bottom: 5rem;
      align-self: flex-end;

      .fa-xmark {
        font-size: 2.25rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .menu {
      width: 100%;
      height: 80%;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;

      .navlinks {
        display: grid;
        gap: 1.5rem;
        // transform: translate3d(-100%, 0, 0);
      }

      .dropdown {
        position: relative;

        a {
          font-size: 1.5rem;
        }

        .fa-chevron-right {
          font-size: 1.25rem;
          color: hsla(10%, 10%, 70%, .9);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
        }
      }

      .divider {
        border: 1px solid hsla(0, 0%, 90%, .5);
      }

      .sub-list {
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translate(100%);

        #title {
          font-size: 2rem;
          margin-bottom: 2rem;

          i {
            font-size: 1.25rem;
          }

          a {
            font-size: 1.5rem;
            color: #ffb300;
            margin-left: 5rem;
          }
        }

        .shop-sub {
          display: grid;
          gap: 1rem;

          div {
            p {
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }

            li {
              margin-bottom: 1.25rem;
            }
          }
        }
      }

      .ssMenu {
        transform: translate3d(-100%, 0, 0);
        visibility: hidden;
        display: none;
        transition: all 1s linear;
      }

      .subShow {
        display: block;
        transform: translate(0);
        visibility: visible;

      }
    }

    .content {
      width: 220px;
      background: #fff;
      z-index: 1;
      padding: 1rem;
      position: fixed;
      bottom: 0;

      .logBtn {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid #e7e7e7;
        border-radius: .6rem;
        padding: 1rem 3rem;

        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          transition: all .2s ease;

          &:active {
            color: #fff;
          }
        }
      }

      &:active {
        color: #fff;
        background: #000;
      }
    }
  }

  .header-fixed {
    width: 100%;
    font-size: 1.75rem;
    background: #fff;
    padding: 1rem 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0 1px 12px 2px hsla(0, 0%, 56%, 0.3);

    &>div {
      flex: 1;
      text-align: center;

      p {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}

@media (max-width:1200px) {
  .desktopBar {
    .left {
      flex: 1;

      div {
        a {
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .topBar {
    display: none;
  }

  .desktopBar {
    display: none;
  }

  .mobileBar {
    display: block;

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-fixed {
      display: flex;
      align-items: center;
    }
  }

  #sticky-bar {
    display: none !important;
  }

  .mobileBar {
    display: flex !important;
  }
}