.hero {
    width: 100%;

    .mySlides {
        display: none;
        padding: 0 3rem 3rem 3rem;
        position: relative;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 1450px;
        margin: 0 auto;
    }

    img {
        vertical-align: middle;
        height: 45rem;
        object-fit: cover;
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        background: transparent;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        article {
            line-height: 10rem;

            .title {
                font-size: 1.4rem;
                color: #000;
                background: #fff;
                padding: 0.25rem 0.75rem;
                border: none;
                border-radius: 0.5rem;
            }

            .para {
                font-size: 2rem;
                font-weight: 700;
                line-height: 4rem;

                span {
                    font-size: 4rem;
                    display: block;
                }
            }

            .btn {
                font-size: 1.2rem;
                font-weight: 600;
                color: #000;
                background: #ffb300;
                border: none;
                border-radius: 0.5rem;
                outline: none;
                padding: 1.25rem 3.5rem;

                &:hover {
                    background: #fff;
                }
            }
        }
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }
}

@media (max-width: 992px) {
    .hero {
        .mySlides {
            padding: 0.75rem 2rem 2rem 2rem;
        }
    }
}

@media (max-width: 768px) {
    .hero {
        .mySlides {
            padding: 0.5rem 1.75rem 1.75rem 1.75rem;
        }
    }
}

@media (max-width: 500px) {
    .hero {
        .mySlides {
            padding: 0.1rem 1rem 1rem 1rem;
        }
    }
}