.shop-category {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;

    .cate {
        h1 {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        .swiper-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            gap: 3rem;
            text-align: center;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: grid;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    animation: moveLR .35s ease-in-out 2;
                }
            }

            a {
                display: block;
                color: #000;
                font-size: 1.5rem;
                font-weight: 700;
                margin-top: 1.5rem;
                transition: all .2s linear;

                &:hover {
                    color: #ffb300;
                }
            }
        }
    }
}

.bestitem {
    margin: 5rem auto;
    padding: 3rem;

    .cardContain {
        display: flex;
        gap: 3rem;

        .card {
            position: relative;
            width: 50%;
            overflow: hidden;

            &:hover img {
                transform: scale(1.075);
                overflow: hidden;
            }

            img {
                width: 100%;
                transition: all .6s ease-in-out;
            }

            article {
                font-size: 1.5rem;
                width: 100%;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 0;
                bottom: auto;
                transform: translateY(-50%);
                display: flex;
                padding: 0 0 0 5rem;

                .text {
                    span {
                        display: inline-block;
                        color: #000;
                        background: #ffb300;
                        border-radius: .6rem;
                        padding: .75rem;
                        margin-bottom: 3rem;
                    }

                    h1 {
                        font-size: 3rem;
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }

                    p {
                        margin-bottom: 4rem;
                    }

                    a {
                        display: inline-block;
                        font-weight: 700;
                        color: #000;
                        background-color: #fff;
                        border-radius: .6rem;
                        padding: 1.5rem 5rem;
                        line-height: 1;
                        transition: all .25s linear;

                        &:hover {
                            color: #fff;
                            background-color: #ffb300;
                        }
                    }
                }
            }
        }

        .card-2 {
            article {
                .text {

                    h1,
                    p {
                        color: #000;
                    }
                }
            }
        }
    }
}

.top-sell {
    background-color: #F7F6F1;
    width: 100%;
    margin: 0 auto;
    padding: 7rem;

    .title {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }

    .item-container {
        display: flex;
        justify-content: center;
        gap: 3rem;
        padding: 10rem;

        .item {
            width: 100%;
            max-width: 400px;
            font-size: 2rem;
            background-color: #fff;
            text-align: center;
            padding: 2rem;
            transition: all .3s linear;

            .dis {
                width: 45px;
                font-size: 1.25rem;
                display: block;
                text-align: center;
                color: #fff;
                background: #2A27E9;
                padding: .5rem;
            }

            img {
                width: 25rem;
                cursor: pointer;
            }

            .product-btn {
                visibility: hidden;
                margin-bottom: 1rem;

                ul {
                    display: flex;
                    justify-content: center;
                    gap: 1rem;

                    li {
                        background: #fff;
                        width: 35px;
                        height: 35px;
                        border-radius: .5rem;
                        padding: .5rem;
                        box-shadow: 1px 1px 5px 2px #F7F6F5;
                        transition: all .3s linear;

                        &:hover {
                            color: #fff;
                            background: #ffb300;
                            cursor: pointer;
                        }
                    }
                }
            }

            &:hover .product-btn {
                visibility: visible;
                animation: showUp .5s linear;
            }

            .title {
                font-size: 1.6rem;
                font-weight: 700;
                margin-bottom: .75rem;

            }

            .review {
                color: #ffb300;
                font-size: 1.2rem;
                margin-bottom: 2rem;
            }

            .price {
                font-size: 1.8rem;
                font-weight: 700;

                span {
                    color: #7e7e7e;
                    font-weight: 400;
                    text-decoration: line-through;
                    margin-left: .5rem;
                }
            }
        }
    }
}

.new-item {
    height: 100%;
    padding: 3rem;

    .item {
        position: relative;

        img {
            width: 100%;
            border-radius: .5rem;
        }

        article {
            font-size: 1.5rem;
            width: 100%;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translateY(-50%);
            padding: 0 0 0 5rem;


            span {
                display: inline-block;
                color: #000;
                background: #ffb300;
                border-radius: .6rem;
                padding: .75rem;
                margin-bottom: 2rem;
            }

            h1 {
                font-size: 3rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 2.5rem;
            }

            a {
                display: inline-block;
                font-weight: 700;
                color: #000;
                background-color: #fff;
                border-radius: .6rem;
                padding: 1.5rem 5rem;
                transition: all .25s linear;

                &:hover {
                    color: #fff;
                    background-color: #ffb300;
                }
            }
        }
    }
}

@keyframes moveLR {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:992px) {
    .bestitem {
        .cardContain {
            flex-direction: column;

            .card {
                width: 100%;
            }
        }
    }

    .top-sell {
        padding: 3rem;

        .item-container {
            flex-wrap: wrap;
            padding: 3rem;
        }
    }

    .new-item {
        padding: 1.5rem;

        .item {
            article {
                top: 50%;
                left: 5%;
                transform: translateY(-50%);
                padding: .1rem;
            }
        }
    }
}

@media (max-width:768px) {
    .bestitem {
        margin: 3rem auto;
        padding: 2rem;

        .cardContain {
            gap: 2rem;
        }
    }

    .top-sell {
        padding: 2rem;

        .item-container {
            padding: 1rem;
        }
    }

    .new-item {
        padding: 1rem;

        .item {
            article {
                font-size: 1.25rem;

                span {
                    padding: .5rem;
                    margin-bottom: 1rem;
                }

                h1 {
                    font-size: 2.5rem;
                    margin-bottom: .75rem;
                }

                p {
                    margin-bottom: 2rem;
                }

                a {
                    padding: 1rem 3rem;
                }
            }
        }
    }
}

@media (max-width:550px) {
    .shop-category {
        .cate {
            h1 {
                font-size: 2.5rem;
            }
        }
    }

    .bestitem {
        padding: .5rem;

        .cardContain {
            gap: 1rem;

            .card {
                article {
                    font-size: 1.25rem;
                    padding: 0 0 0 2.5rem;

                    .text {

                        span,
                        p {
                            margin-bottom: 2rem;
                        }

                        h1 {
                            font-size: 2.5rem;
                        }

                        a {
                            padding: 1rem 2.25rem;
                        }
                    }
                }
            }
        }
    }

    .top-sell {
        padding: .5rem;

        .item-container {
            padding: .5rem;
        }
    }

    .new-item {
        padding: .1rem;

        .item {
            article {
                font-size: 1rem;

                span {
                    padding: .25rem .5rem;
                    margin-bottom: .5rem;
                }

                h1 {
                    font-size: 2rem;
                    margin-bottom: .5rem;
                }

                p {
                    margin-bottom: 1.5rem;
                }

                a {
                    padding: .75rem 2rem;
                }
            }
        }
    }
}

@media (max-width:400px) {
    .bestitem {
        padding: .5rem;

        .cardContain {
            gap: 1rem;

            .card {
                article {
                    font-size: 1.25rem;
                    padding: 0 0 0 2.5rem;

                    .text {
                        h1 {
                            font-size: 2rem;
                        }

                        a {
                            padding: 1rem 2.25rem;
                        }
                    }
                }
            }
        }
    }

    .new-item {
        .item {
            article {
                font-size: .75rem;

                span {
                    padding: .2rem;
                    border-radius: .3rem;
                    margin-bottom: .1rem;
                }

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: .2rem;
                }

                p {
                    margin-bottom: .5rem;
                }

                a {
                    padding: .5rem 1.5rem;
                }
            }
        }
    }
}

@media (max-width:300px) {
    .bestitem {
        .cardContain {
            .card {
                article {
                    .text {
                        span {
                            margin-bottom: .5rem;
                        }

                        h1 {
                            font-size: 1.75rem;
                            margin-bottom: .5rem;
                        }

                        p {
                            margin-bottom: 1.25rem;
                        }

                        a {
                            padding: .8rem 1.5rem;
                        }
                    }
                }
            }
        }
    }

    .top-sell {
        .title {
            font-size: 2rem;
        }

        .item-container {
            .item {
                padding: .5rem;
            }
        }
    }

    .new-item {
        .item {
            article {
                font-size: .75rem;

                span {
                    padding: .2rem;
                    border-radius: .3rem;
                    margin-bottom: .1rem;
                }

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: .2rem;
                }

                p {
                    margin-bottom: .5rem;
                }

                a {
                    padding: .5rem 1.5rem;
                }
            }
        }
    }
}