.shop-category {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  .cate {
    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    .swiper-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 3rem;
      text-align: center;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: grid;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 50%;

        &:hover {
          animation: moveLR .35s ease-in-out 2;
        }
      }

      a {
        display: block;
        color: #000;
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 1.5rem;
        transition: all .2s linear;

        &:hover {
          color: #ffb300;
        }
      }
    }
  }
}

.bestitem {
  margin: 5rem auto;
  padding: 3rem;

  .cardContain {
    display: flex;
    gap: 3rem;

    .card {
      position: relative;
      width: 50%;

      img {
        width: 100%;
        border-radius: .6rem;
      }
    }

    article {
      font-size: 1.5rem;
      width: 100%;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      bottom: auto;
      transform: translateY(-50%);
      display: flex;
      padding: 0 0 0 5rem;

      .text {
        span {
          display: inline-block;
          color: #000;
          background: #ffb300;
          border-radius: .6rem;
          padding: .75rem;
          margin-bottom: 2rem;
        }

        h1 {
          font-size: 3rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: 2.5rem;
        }

        a {
          display: inline-block;
          font-weight: 700;
          color: #000;
          background-color: #fff;
          border-radius: .6rem;
          padding: 1.5rem 5rem;

          &:hover {
            color: #fff;
            background-color: #ffb300;
          }
        }
      }
    }
  }


}

.top-sell {
  background-color: #F7F6F1;
  width: 100%;
  margin: 0 auto;

  .item-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;

    .item {
      width: 100%;
      max-width: 400px;
      font-size: 2rem;
      background-color: #fff;
      text-align: center;
      padding: 2rem;

      .dis {
        width: 20%;
        display: block;
        text-align: left;
        background: #2A27E9;
        padding: .5rem;
      }

      img {
        width: 25rem;
      }

      .product-btn {
        visibility: hidden;
        margin-bottom: 1rem;

        ul {
          display: flex;
          justify-content: center;
          gap: 1rem;

          li {
            background: #fff;
            width: 35px;
            height: 35px;
            border-radius: .5rem;
            padding: .5rem;
            box-shadow: 1px 1px 5px 2px #F7F6F5;

            &:hover {
              color: #fff;
              background: #ffb300;
            }
          }
        }
      }

      &:hover .product-btn {
        visibility: visible;
        animation: showUp .25s linear;
      }



      .title {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: .75rem;

      }

      .review {
        color: #ffb300;
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      .price {
        font-size: 1.8rem;
        font-weight: 700;

        span {
          color: #7e7e7e;
          font-weight: 400;
          text-decoration: line-through;
          margin-left: .5rem;
        }
      }
    }
  }
}

.new-item {
  height: 100%;
  padding: 3rem;

  .item {
    position: relative;

    img {
      width: 100%;
      border-radius: .5rem;
    }

    article {
      font-size: 1.5rem;
      width: 100%;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translateY(-50%);
      padding: 0 0 0 5rem;


      span {
        display: inline-block;
        color: #000;
        background: #ffb300;
        border-radius: .6rem;
        padding: .75rem;
        margin-bottom: 2rem;
      }

      h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2.5rem;
      }

      a {
        display: inline-block;
        font-weight: 700;
        color: #000;
        background-color: #fff;
        border-radius: .6rem;
        padding: 1.5rem 5rem;
        transition: all .25s linear;

        &:hover {
          color: #fff;
          background-color: #ffb300;
        }
      }
    }
  }
}

.forYou {
  background: #F7F6F1;
  padding: 3rem 30rem;

  .mtitle {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 7rem;
  }

  .cContain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2.5rem;

    .item {
      width: 100%;
      max-width: 200px;
      font-size: 2rem;
      background-color: #fff;
      text-align: center;

      .dis {
        width: 35%;
        display: block;
        text-align: left;
        background: #2A27E9;
        padding: .5rem;
      }

      img {
        width: 95%;
      }

      .product-btn {
        visibility: hidden;
        margin-bottom: 1rem;

        ul {
          display: flex;
          justify-content: center;
          gap: 1rem;

          li {
            background: #fff;
            width: 35px;
            height: 35px;
            border-radius: .5rem;
            padding: .5rem;
            box-shadow: 1px 1px 5px 2px #F7F6F5;

            &:hover {
              color: #fff;
              background: #ffb300;
            }
          }
        }
      }

      &:hover .product-btn {
        visibility: visible;
        animation: showUp .25s linear;
      }

      .title {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: .75rem;

      }

      .review {
        color: #ffb300;
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      .price {
        font-size: 1.8rem;
        font-weight: 700;

        span {
          color: #7e7e7e;
          font-weight: 400;
          text-decoration: line-through;
          margin-left: .5rem;
        }
      }
    }
  }
}

.brand {
  text-align: left;
  margin-top: 3rem;
  padding: 3rem 5rem;
  background: #fff;

  h1 {
    font-size: 3rem;
    margin-left: 10rem;
    margin-bottom: 5rem;
  }

  .brandCon {
    display: flex;
    justify-content: center;

    div {
      &:hover {
        animation: moveLR .35s linear 2;
      }
    }
  }


}

//animation is here
@keyframes moveLR {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:992px) {
  .bestitem {
    .cardContain {
      flex-direction: column;

      .card {
        width: 100%;
      }
    }
  }
}

@media (max-width:768px) {
  .bestitem {
    margin: 3rem auto;
    padding: 2rem;

    .cardContain {
      gap: 2rem;
    }
  }

  .new-item {
    padding: 1rem;

    .item {
      article {
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        padding: .1rem;
      }
    }

  }
}

@media (max-width:500px) {
  .shop-category {
    .cate {
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  .bestitem {
    padding: .5rem;

    .cardContain {
      gap: 1rem;

      article {
        font-size: 1.25rem;
        padding: 0 0 0 2.5rem;

        .text {
          h1 {
            font-size: 2.5rem;
          }

          a {
            padding: 1rem 2.25rem;
          }
        }
      }
    }


  }

  .new-item {
    padding: .1rem;
  }
}